<div id="<%= dom_id(order) %>" class="card my-3">
  <div class="card-header">
    <h2>Order Details</h2>
  </div>
  <div class="card-body">
    <p class="mb-2">
      <strong>Name:</strong>
      <%= order.name %>
    </p>

    <p class="mb-2">
      <strong>Address:</strong>
      <%= order.address %>
    </p>

    <p class="mb-2">
      <strong>Email:</strong>
      <%= order.email %>
    </p>

    <p class="mb-2">
      <strong>Pay Type:</strong>
      <%= order.pay_type %>
    </p>

    <p class="mb-2">
      <strong>Order Status:</strong>
      <%= order.order_status.present? ? order.order_status.status.capitalize : 'No status available' %>
    </p>
  </div>
</div>